/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "butlerbold";
    src: url(../font/Butler-ExtraBold.woff);
}

@font-face {
    font-family: "butlerlight";
    src: url(../font/Butler-Medium.woff);
}
@font-face {
    font-family: "butlerultralight";
    src: url(../font/Butler-UltraLight.woff);
}

body{
    background: rgb(20, 20, 20);
}



.container-landing{
    padding: 0 7vw;
    padding-top: 100px;
    height:105vh;
    background: rgb(20, 20, 20);
    color: white;
    display: grid;
    flex-direction: row;
    grid-template-columns: 50% 50%;
    justify-content:space-between;
    overflow: hidden;

}

/* .container-landing::after{
    content:"";
    z-index: 1;
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgb(250, 227, 17);
    /* clip-path:circle(50%); 
} */


h1{
    margin-top: 30px;
    font-family: "butlerbold";
    font-size: 40px;

}
p{
    
    font-family: "butlerlight";
    font-size: 15px;
    padding-top:20px;
    line-height: 25px;

}

button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  button span{
    position: relative;
    z-index: 2;
  }
  
  button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
  button:hover{
    color: #fff;
  }
  
  button:hover:after{
    width: 100%;
  }

button{
    margin-top: 20px;
}
.imgcont{
    position:relative;
    padding-left:30%;
    /* width:50%; */

}

.imgcont > img{
    z-index: 99;
    width:60%;
    transform:translateY(30px);
    opacity: 0.5;
    transition:1s;
}
.afterimg{

    transform: scale(10);
    position:absolute;
    top: 50px;
    left:50px; 
    width: 100%;
    height: 50%;
    background: rgb(250, 227, 17);
    transition: 0.5s;
    clip-path:circle();

}
#second{

    background: rgb(17, 250, 36);


}

.container-landing:hover .afterimg{
    content:"";
    transform: scale(1.2);
    top:40px;
    left:0; 

    /* top: 150px;
    left:57%; 
    width: 100%;
    height: 100%;
    background: rgb(17, 250, 75);*/
}


.container-landing:hover .mobile-cont{
    position:relative;
    width:60%;
    opacity: 1;

    transform:translateY(0px);
    

}
.paragraph{
    z-index: 9999;
    transform:translateY(100px);
    opacity: 0;
    transition:1.3s;
}
.container-landing:hover .paragraph{
    transform:translateY(0px);
    opacity: 1;

}


.circle{
    position: fixed;
    /* width: 20px;
    height: 30px; */
    /* z-index: -1; */
    background:white;
    clip-path: circle();
}

.paracont--1{
z-index: 99999;
width:100%;
}
.paracont--1_child{
width: 100%;
display:flex;
flex-direction: row;
}
.paracont--1_child img{
width: 60px;
height:60px;
padding: 20px 10px 0 0;
}
.paracont--1_child p{
    font-size: 10px;
    font-family: "butlerultralight";
    
}